@model ExcellProtecaoVeicular.Model.Entity.ListDadosImages

@{
    ViewBag.Title = "Detalhes Do Cliente ";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<h4>Detalhes Do Cliente: @Model.Cliente.Nome.ToString()</h4><p>Código do Cliente - @Model.Cliente.IDCliente</p>

<p>
    @Html.ActionLink("Incluir Novo Cliente", "cadastrarClientes")
</p>
<p>
    @Html.ActionLink("Listar Clientes", "listarClientes")
</p>
@foreach (var item in Model.Imagens)
{  
    <img src="~/images/CarroDeClientes/@item.NameImage.ToString()" class="img-thumbnail"/>
}

