
@{
    ViewBag.Title = "Index";
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <p>Usuario- @HttpContext.Current.User.Identity.Name</p>  
    
}
@Html.ActionLink("Cadastrar Cliente", "cadastrar", "_admin")

