
@{
    ViewBag.Title = "Index";
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h3>Seja Bem Vindo - Painel Administrador <br/></h3>
    <p>Usuario - @HttpContext.Current.User.Identity.Name</p>  
    
}



