
@{
    ViewBag.Title = "Index";
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
        <div class="row"></div>
       <div class="panel panel-default">
        <div class="panel-heading"> Seja Bem Vindo - Painel Administrador </div>
        <div class="panel-body">
            <p>Usuario - @HttpContext.Current.User.Identity.Name.ToUpper()</p>
        </div>
    </div>

}



