

@{
    ViewBag.Title = "UploadImagem";
}

<h2>UploadImagem</h2>

@*<div class="container">
    <h2>Upload</h2>
    <h3>@Html.Encode(ViewData["Message"])</h3>
    @Html.BeginForm("UploadImagem","Home",FormMethod.Post,new { enctype = "multipart/form-data"})

    <fieldset>
        <input id="file" type="submit" />
        <input type="submit" value="Enviar"/>
    </fieldset>
</div>*@

