
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-right">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Excell Proteção Veicular</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#header" data-target="#header">HOME</a></li>
                <li><a href="#service">ASSOCIAÇÃO</a></li>
                <li><a href="#Portfolio">BENEFÍCIOS</a></li>
                 @*<li class="small-logo"><a href="#header"><img src="~/images/Excell_Logo.png" alt=""></a></li>*@ 
                <li><a href="#client">REGULAMENTO</a></li>
                <li>@Html.ActionLink("BOLETO", "Index", "Login", new { area = "cliente" }, null)</li>                
                <li><a href="#contact">CONTATO</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-lock"></span> LOGIN<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">                    
                            <li>@Html.ActionLink("ADMINISTRADOR", , "_admin", new { area = "admin"}, null)
                            @*<li><a href="#">CLIENTE</a></li>*@
                            @*<li><a href="#">Something else here</a></li>*@
                            <li role="separator" class="divider"></li>
                            @*<li class="dropdown-header">Nav header</li>*@
                            <li>@Html.ActionLink("CLIENTE","index","_admin",new { area = "admin"},null)</li>
                            @*<li><a href="#">One more separated link</a></li>*@                        
                    </ul>   
                </li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
            </ul>*@
        
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="row"></div>