
<div style="overflow:hidden;">
    <header class="header" id="header">
        <!--header-start-->
        <div class="container">
            <div class="col-md-4 animated fadeInDown delay-09s " style="text-align:left; padding:10px;">
                <p><span class="glyphicon glyphicon-hand-right"> Proteção(APP)</span></p>
                <p><span class="glyphicon glyphicon-hand-right"> Socorro até 700KM</span></p>
                <p><span class="glyphicon glyphicon-hand-right"> Falta de Combustivel</span></p>
                <p><span class="glyphicon glyphicon-hand-right"> Pane Elétrica</span></p>
                <p><span class="glyphicon glyphicon-hand-right"> Pane Mecânica</span></p>
                <p><span class="glyphicon glyphicon-hand-right"> Chaveiro</span></p>

            </div>
            <div class="col-md-4">
                <figure class="logo animated fadeInDown delay-07s " style="width:100%;margin:-200px auto 35px;">
                    <a href="#"><img src="~/images/Excell_Logo.png" alt="" class="img-responsive"></a>
                </figure>

                <h2 class="animated fadeInDown delay-07s" style="color:white;">Assistência 24hrs em todo Brasil.</h2>
                <ul class="we-create animated fadeInUp delay-1s">
                    <li>Proteção Total : Roubo, Furto, Colisão e Incêndio</li>
                </ul>
                <a class="link animated fadeInUp delay-1s" href="#test" data-target="#test" id="inicio">Inicio</a>
            </div>
            <div class="col-md-4 animated fadeInDown delay-09s" style="text-align:justify; padding:10px;">
                <div style="margin-left: 49%;">
                    <p><span class="glyphicon glyphicon-hand-right"> Proteção de Vidros</span></p>
                    <p><span class="glyphicon glyphicon-hand-right"> Carro Reserva</span></p>
                    <p><span class="glyphicon glyphicon-hand-right"> Taxi / Hotel</span></p>
                    <p><span class="glyphicon glyphicon-hand-right"> Bloqueador</span></p>
                    <p><span class="glyphicon glyphicon-hand-right"> Rastreador</span></p>
                    <p><span class="glyphicon glyphicon-hand-right"> Pneu Furado</span></p>
                </div>
            </div>
        </div>


    </header><!--header-end-->
</div>
