<!-- Associação -->
<div class="row" style="background-color: rgba(0, 0, 0, 0.28);;padding: 1px;"></div>
<section class="main-section" id="service" style="margin-top:10px;">
    <!--main-section-start-->
    <div class="container">
        <h2>Associação</h2>
        <!-- <h6>We offer exceptional service with complimentary hugs.</h6> -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <!-- <i class="fa-paw"></i> -->
                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="service-list-col2">
                        <!-- <h3>branding &amp; identity</h3> -->
                        <h3>Foco &amp; Proteção</h3>
                        <p>Em atender a necessidade nos centros urbanos, oferecendo proteção e segurança total, com assistência de 24 horas.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <!-- <i class="fa-gear"></i> -->
                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="service-list-col2">
                        <h3>Associado</h3>
                        <p>Oferecemos proteção e segurança aos automóveis dos associados, através da repartição dos eventuais prejuízos materiais sofridos nesses bens.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <!-- <i class="fa-apple"></i> -->
                        <span class="glyphicon glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="service-list-col2">
                        <h3>Custo</h3>
                        <p>Oferecemos um custo a baixo do mercado.</p>
                    </div>
                </div>
                <!-- <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                    </div>
                </div> -->
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s " style="border-radius:5px;">
                <div class="delay-02s">
                    <img src="~/images/familia.jpg" alt="" class="img-associacao" />
                </div>
            </figure>

        </div>
    </div>
</section><!--main-section-end-->
