
<div class="row" style="background-color: rgba(0, 0, 0, 0.28);;padding: 1px;"></div>
<!--main-section-start-->
<section class="main-section paddind" id="Portfolio">
    <div class="container">
        <h2>Benefícios</h2>
        <h6>Entre em contato com os nossos consultores e confira a disponibilidade e  limites de utilização na sua cidade.</h6>
        <!-- <div class="portfolioFilter">
          <ul class="Portfolio-nav wow fadeIn delay-02s">
              <li><a href="#" data-filter="*" class="current" >All</a></li>
              <li><a href="#" data-filter=".branding" >Branding</a></li>
              <li><a href="#" data-filter=".webdesign" >Web design</a></li>
              <li><a href="#" data-filter=".printdesign" >Print design</a></li>
              <li><a href="#" data-filter=".photography" >Photography</a></l  i>
          </ul>
         </div>        -->
    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class=" Portfolio-box printdesign">
            <a href="#"><img src="~/images/protecaoVeicular.png" alt=""></a>
            <h3>Proteção Veicular</h3>
            <p>Colisões, Incêndio, Furto e Roubo.</p>
        </div>
        <div class="Portfolio-box webdesign">
            <a href="#"><img src="~/images/carroReserva.png" alt=""></a>
            <h3>Carro Reserva.</h3>
            <p>Por 7 dias</p>
        </div>
        <div class=" Portfolio-box branding">
            <a href="#"><img src="~/images/24horas.png" alt=""></a>
            <h3>Assistência 24 horas</h3>
            <p>Chaveiro, táxi, troca de pneu, falta de combustível.</p>
        </div>
        <div class=" Portfolio-box photography">
            <a href="#"><img src="~/images/rastreamento.png" alt=""></a>
            <h3>Rastreamento e Monitoramento</h3>
            <p>24 horas por dia.</p>
        </div>
        <!-- <div class=" Portfolio-box branding">
            <a href="#"><img src="img/Portfolio-pic5.jpg" alt=""></a>
            <h3>Hipster</h3>
            <p>Branding</p>
        </div>
        <div class=" Portfolio-box photography">
            <a href="#"><img src="img/Portfolio-pic6.jpg" alt=""></a>
            <h3>Windmills</h3>
            <p>Photography</p>
        </div> -->
    </div>
</section><!--main-section-end-->