<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Excell Proteção Veicular</title>    
    
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/scripts/classie.js"></script>
    <script src="~/scripts/wow.js"></script>
    <script src="~/scripts/jquery.isotope.js"></script>
    <script src="~/scripts/modernizr-2.6.2.js"></script>   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/jquery.min.js"><\/script>')</script> 
    

    
</head>
<body>      
    <div class="container body-content">
        @RenderBody()
    </div>   

    @{ 
        Html.RenderPartial("Footer");
        Html.RenderPartial("_ScriptsFooter");
    }
</body>
</html>