<fieldset>
    <legend>
        Carregar Imagens
    </legend>
    <div class="panel-heading">
        <div class="panel-body">
            <div id="Uploader">
                <input class="form-control" type="file" name="photos[]" id="photoimg" accept="image/jpg" multiple />
            </div>
        </div>
    </div>
</fieldset>
<input value="Salvar" id="btnCli" type="submit" name="Salvar Cliente" />
